apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  REDIS_HOST: "redis-service"
  REDIS_PORT: "6379"
  GEMINI_MODEL: "gemini-2.5-flash"
---
apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  GEMINI_API_KEY: "your-gemini-key-here"
  DISCORD_WEBHOOK_URL: "your-webhook-url-here"
